body, #header, #footer {
	width:940px;
}

#out{
    background-color: red;
    border: red
}

body {
	background: #d0d0d0 url(../img/site-background.png) repeat-x 0 0;
	color: #333;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;	
	font: normal 87.5%/1.3 Arial, sans-serif;
}

form {
	padding:10px;
	overflow: hidden;
	width: 920px;
}

#header {
	padding-top: 2.6em;
	position: relative;
	padding-bottom: 1.3em;
	
}	
	
#header .logo {
	display: inline;
}

#header ul {
	position: absolute;
	top: 0;
	left: 0;
	text-align: right;
	width: 95%;
	font-size: 85%;
	margin: 0;
	list-style: none;
}

#header li {
	border-left: 1px solid #a4a4a4;
	display: inline-block;
}

#header li a {
	padding: .5em;
	display: inline-block;
}

#header .skip {
	float: left;
	border-width: 0;
}

#header .skip a {
	padding-left: 0;
}


#footer {
	border-top: 1px solid #a4a4a4;
	padding-top: 1.3em;
	margin-top: 2em;
}

#footer .col {
	float: left;
	width: 219px;
	min-height: 150px;
	border-right: 1px solid #a4a4a4;
	margin: 0 20px 0 0;
}

p.legal {
	font-size: .90em;
	color: #666;
}
ul {
	list-style-image: url(../img/arrow.png);
}

h3 {
	font-size: 1.3em;
	margin: 0 0 0.769em;
	font-weight: normal;
}

a:link, a:visited {
	color: #094c93;
}

.label {
    vertical-align: top;
    margin-right: 10%;
    width:250px;
}

.value { 
    float:left;
}

.tableCSS { 
   /* float:left;
    font-weight: bold;
    
    padding:1px;
    margin:1px;
    border: none;
    */
}

.tableCSS tr  { 
   /* float:left;
    font-weight: bold;
    */
    
    border: none;
    
}

.ui-panelgrid td {
    border: none;
}

td.columnMessage  {
    width: 30%;
    border: none;
}

td.columnLabel  {
    width: 210px;
    border: none;
}

/*
.ui-messages-error, .ui-message-error {
    width: 100%;
}
*/

fieldsetStyle, .ui-fieldset, .ui-fieldset, .ui-fieldset-legend {
    margin-top: 5px;
    margin-bottom: 5px;
}

