body, #header, #footer {
	width:940px;
}

body {
	background: #d0d0d0 url(../img/site-background.png) repeat-x 0 0;
	color: #333;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;	
	font: normal 87.5%/1.3 Arial, sans-serif;
}

form {
	padding:10px;
	overflow: hidden;
	width: 920px;
}

#header {
	padding-top: 2.6em;
	position: relative;
	padding-bottom: 1.3em;
	
}	
	
#header .logo {
	display: inline;
}

#header ul {
	position: absolute;
	top: 0;
	left: 0;
	text-align: right;
	width: 95%;
	font-size: 85%;
	margin: 0;
	list-style: none;
}

#header li {
	border-left: 1px solid #a4a4a4;
	display: inline-block;
}

#header li a {
	padding: .5em;
	display: inline-block;
}

#header .skip {
	float: left;
	border-width: 0;
}

#header .skip a {
	padding-left: 0;
}


#footer {
	border-top: 1px solid #a4a4a4;
	padding-top: 1.3em;
	margin-top: 2em;
}

#footer .col {
	float: left;
	width: 219px;
	min-height: 150px;
	border-right: 1px solid #a4a4a4;
	margin: 0 20px 0 0;
}

p.legal {
	font-size: .90em;
	color: #666;
}
ul {
	list-style-image: url(../img/arrow.png);
}

h3 {
	font-size: 1.3em;
	margin: 0 0 0.769em;
	font-weight: normal;
}

a:link, a:visited {
	color: #094c93;
}

/*
need to ask Marco how to fix the table boarders
http://stackoverflow.com/questions/9892654/primefaces-overrides-my-custom-css-style
http://stackoverflow.com/questions/8578494/how-to-override-stylesheets-of-primefaces
for approval
table {
    border-width: 0 !important;
    border-color: white !important;
}
*/