

/* Aarons */

/* L O O K U P   D I A L O U G */

.dlgCurrency {
    /*
    width: 500px;
    */
}
.divCurrency{
    width: 550px;
}

/* F I N A L C O S T I N G */

/*
.noborders tr {
    border: navy;
}

*/

/*

.ui-panelgrid td {
    border: none;
    float: left;
}


.ui-widget-content tr {

    border: none;
}



td.columnMessage  {
    width: 20%;
    border: none;
}

td.columnLabel  {
    
    padding-top: 5px;
    
    margin-top: 20px;
    
    margin-top: 5px;
    width: 250px;
    border: none;
    text-align: left;
}

.columnvalue1 {
    
}

.columnvalue2 {
    
}


Over ride need to match department dropdown width

.inputWidthDepartment {
    width: 257px;
}

input {
    width: 163px;
}


.inputWidthDepartment input {
    width: 257px;
}

.inputWidth {
    width: 163px;
}



.columnHeading {
  
    font-weight: bolder;
    width: 175px;
    text-align: center;
}

.butCalc {
    width: 171px;
}*/